.container {
    background-color: cadetblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
    box-shadow: 10px 5px 5px rgb(142, 141, 141);
   
}

.questions {
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    
}

.card h3 {
    padding: 1rem;
    margin: 1rem;
}