.container {
    background-color: cadetblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
}

.container h3 {
    text-align: center;
}

.questions {
    margin-bottom: 1rem;
    width: 100%
}

.questions p {
    background-color: aliceblue;
    margin: 0rem 1rem 1rem 1rem;
    padding: 1rem;
    text-align: justify;
}