
.question {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 0rem 1rem 0rem 1rem;
    margin: 1rem 1rem 0rem 1rem;
    align-items: center;
}



button {
    height: 50%;
    vertical-align: middle;
    margin: 1rem;
    border: 2px solid rgb(10, 27, 184);
    border-radius: 5px;
    font-size: 20px;
    width: auto;
    height: auto;
    cursor: pointer;
}