ul {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin: 0rem;
    padding: 0rem;
}

.delete {
    background: transparent;
    border: none;
    color: red;
    font-weight: bold;
    font-size: 1rem;
}